* {
	box-sizing: border-box;
}

#memory {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	padding: 10px;
	border: 5px solid yellow;
	/* color: lightgray; */
}

pre {
	font-size: 0.5em;
}

#memory .instruction {
	color: greenyellow;
}
#memory .constant {
	color: purple;
}
#memory .register {
	color: orange;
}
#memory .memory {
	color: pink;
}
#memory .invalid_instruction {
	color: maroon;
}

#memory div {
	aspect-ratio: 1;
	text-align: center;
	margin: auto;
}

body {
	color: gray;
	background-color: black;
	font-size: 2.5em;
	font-family: monospace;
}

#registers div {
	max-height: min-content;
	margin-block: auto;
}

#subcontainer {
	display: flex;
	flex-direction: row;
	column-gap: 15px;
}

#labelcontainer {
	column-gap: 18px;
	font-size: 0.85em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
}

#main {
	display: flex;
	flex-direction: row;
}

#title {
	writing-mode: vertical-lr;
	text-align: left;
	user-select: none;
	transform: scale(-1, -1);
}

#printout {
	border: 4px dashed yellow;
	width: 1000px;
	padding: 10px;
	margin-left: 20px;
	word-wrap: break-word;
	word-break: break-all;
}

#memory div.program_counter {
	outline: 3px solid orange;
}

#memory div.instruction_argument {
	outline: 3px dashed purple;
}
#memory div.current_instruction {
	outline: 3px dashed greenyellow;
}

#registers {
	border: 5px solid yellow;
	border-bottom: none;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	max-width: fit-content;
	display: grid;
	column-gap: 5px;
	color: lightgray;
	padding: 10px;
}

#container {
	font-family: monospace;
	max-width: min-content;
	max-height: min-content;
}

button,
label.button {
	border: 4px solid yellow;
	color: gray;
	margin: 10px;
	margin-inline: 8px;
	padding: 10px;
	font-size: 0.8em;
	font-family: monospace;
	background-color: transparent;
	cursor: pointer;
	user-select: none;
}
button:hover,
label.button:hover {
	color: white;
}
#controls_bar {
	margin-left: 1.12em;
	display: flex;
}
