@use "vars" as *;

h1,
h2,
h3 {
	color: white;
	font-family: charter;
	margin-block: unset;
}

p {
	margin-top: unset;
	color: lightgray;
}

div#documentation {
	margin-inline: auto;
	max-width: 90ch;
	line-height: 1.8;

	h1,
	h2,
	h3,
	p,
	ul,
	ol,
	img {
		max-width: 60ch;
	}
}
