@use "sass:math";
@use "vars" as *;

button,
label.button {
	border: $thick-border-width solid var(--border);
	color: gray;
	margin: 10px;
	margin-inline: 0px;
	padding: 10px;
	font-size: 0.8em;
	font-family: monospace;
	background-color: transparent;
	cursor: pointer;
	user-select: none;
}

button:disabled {
	border: $thick-border-width solid rgb(255, 255, 128);
	color: orange;
	cursor: default;
}

button.nostyle {
	border: none;
	color: inherit;
	margin: 0;
	padding: 0;
	font-size: inherit;
	background-color: inherit;
}

button:hover,
label.button:hover {
	color: white;
}

button.locked {
	background-image: url("/src/include/icons/padlock.png");
	background-repeat: no-repeat;
	background-position: right top;
}
