#controls_bar {
	display: flex;
	flex-direction: column;
	gap: 0.5ch;

	#controls_buttons {
		height: min-content;
		display: flex;
		gap: inherit;
	}
	#edit_buttons {
		display: flex;
		gap: inherit;
	}
}
