#controls_bar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5ch;

	#controls_buttons {
		height: min-content;
		display: flex;
		gap: inherit;
	}
	#edit_buttons {
		height: min-content;
		display: flex;
		flex-wrap: wrap;
		gap: inherit;
	}
}
