/* noto-sans-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/noto-sans-v42-latin-regular.woff2") format("woff2");
}
/* noto-sans-mono-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Noto Sans Mono";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/noto-sans-mono-v37-latin-regular.woff2") format("woff2");
}
