@use "vars" as *;
$radius: 13px;
$thickness: 2px;
#registers.celled_viewer > div {
	border-inline: $thickness solid transparent;
}

#memory {
	.celled_viewer > div {
		border: $thickness solid transparent;
		&[contenteditable="true"] {
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-decoration-color: #333;
		}
	}
	.celled_viewer {
		grid-template-columns: repeat(16, min-content);
		display: grid;
		.program_counter:not(.locked) {
			border-bottom: $thickness solid orange !important;
			border-image: linear-gradient(to right, transparent 0%, orange 30%, orange 70%, transparent 100%) 1 !important;
		}

		.instruction,
		.instruction_argument {
			&:not(.active):not(.program_counter) {
				filter: saturate(3%);
			}
		}

		.instruction_argument,
		.instruction {
			border: $thickness solid var(--color);
		}
		.instruction_argument {
			border-left: $thickness solid transparent;
		}
		.hasright {
			border-right: $thickness solid transparent;
		}

		.instruction {
			border-top-left-radius: $radius;
			border-bottom-left-radius: $radius;
			border-right-color: transparent;
		}

		.endcap.active {
			border-right: $thickness dashed var(--color);
		}
		.endcap:not(.active) {
			border-top-right-radius: $radius;
			border-bottom-right-radius: $radius;
			&.instruction {
				border-top-right-radius: $radius;
				border-bottom-right-radius: $radius;
				border-right-color: var(--color);
			}
		}

		.invalid ::after {
			user-select: none;
			float: right;
			position: relative;
			right: 0.5em;
			width: 0px;
			font-size: 0.5em;
			content: "!";
		}
	}
}
#registers {
	border-bottom: none !important;

	grid-template-columns: repeat(8, min-content);
	color: lightgray;
}

.celled_viewer {
	display: grid;
	max-width: fit-content;
	row-gap: 2px;
	border: $thick-border-width solid var(--border);
	padding: 10px;
	user-select: none;

	div {
		.pending_edit {
			color: green;
		}
		&.recent_edit {
			color: lime;
		}
		&.last_access {
			color: orange;
		}
		user-select: none;
		caret-color: transparent;
		text-align: center;
		color: var(--color);
		&[contenteditable] {
			&.caret_selected {
				box-sizing: border-box;
				outline: 2px solid red;
			}
			outline: none;
		}
	}
}
