@use "fonts";
@use "memory_registers";
@use "article";
@use "windows";
@use "top_meta";
@use "buttons";
@use "table";
@use "control_buttons";
@use "vars" as *;

:root {
	font-size: 110%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $sans;

	color: #808080;
	background-color: black;
}

#ui {
	font-family: $monospace;

	&.ready {
		--border: var(--state-ready);
	}
	&.running {
		--border: var(--state-running);
	}
	&.errored {
		--border: var(--state-errored);
	}
	&.edit {
		--border: var(--state-edit);
	}
	.celled_viewer,
	.window,
	.window_title,
	button,
	#celled_viewer,
	#program_meta {
		transition-property: border-color, background-image;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
	}
}

#grid {
	justify-content: center;
	display: grid;
	grid-template-columns: min-content min-content 1ch min-content;
	grid-template-rows: min-content min-content 1ch min-content;
	grid-template-areas:
		".        registers .		  titlebar 	"
		"title    memory	.         tv  		"
		". 		  .         . 		  .    		"
		".        buttons   .		  explainer ";

	#instruction_explainer {
		grid-area: explainer;
	}
	#tv {
		grid-area: tv;
	}
	#program_meta {
		grid-area: titlebar;
	}
	#registers {
		grid-area: registers;
	}

	#reg_label {
		grid-area: reglabel;
	}
	#mem_label {
		grid-area: memlabel;
	}
	#cycles {
		grid-area: cycles;
		text-align: right;
		align-self: center;
		user-select: none;
	}
	#title {
		grid-area: title;
		writing-mode: vertical-lr;
		text-align: left;
		user-select: none;
		transform: scale(-1, -1);
		font-size: 1.3rem;
	}
	#memory {
		grid-area: memory;
	}
	#controls_bar {
		grid-area: buttons;
	}
}

#reg_label,
#mem_label {
	user-select: none;
}

#mem_label {
	writing-mode: vertical-lr;
	text-align: right;
	transform: scale(-1, -1);
}

.invalid {
	--color: var(--mem-invalid);
}
.constant {
	--color: var(--mem-constant);
}
.register {
	--color: var(--mem-register);
}
.memory {
	--color: var(--mem-memory);
}
.instruction {
	--color: var(--mem-instruction);
}
.nibregpair {
	--color: var(--mem-reg-nib-pair);
}

#memory_color_explainer {
	li {
		display: flex;
		gap: 1ch;
	}

	.color {
		background-color: var(--color);
		max-width: 1lh;
		width: 1lh;
		height: 100%;
		aspect-ratio: 1;
	}
}
