@use "fonts";
@use "memory_registers";
@use "article";
@use "windows";
@use "top_meta";
@use "buttons";
@use "table";
@use "control_buttons";
@use "program_presets";
@use "vars" as *;

:root {
	font-size: 110%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $sans;

	color: #808080;
	background-color: black;
}

#ui {
	font-family: $monospace;

	&.ready {
		--border: var(--state-ready);
	}
	&.running {
		--border: var(--state-running);
	}
	&.errored {
		--border: var(--state-errored);
	}
	&.edit {
		--border: var(--state-edit);
	}
	&.halted {
		--border: var(--state-halted);
	}
	.celled_viewer,
	.window,
	.window_title,
	button,
	#celled_viewer,
	#program_meta {
		transition-property: border-color, background-image;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
	}
	&.ready button#pause_play_button {
		outline: 1px solid pink;
	}
}

#grid {
	justify-content: center;
	display: grid;
	grid-template-columns: min-content min-content min-content 1ch min-content 1ch min-content;
	grid-template-rows: min-content min-content 1ch min-content;
	grid-template-areas:
		".        registers registers . titlebar 	.	.	   "
		"title    memory	memory    . tv  		.	presets"
		". 		  .         .         . .    		.	.      "
		".        buttons   buttons   . explainer   .	.      ";

	#instruction_explainer {
		grid-area: explainer;
	}
	#tv {
		grid-area: tv;
	}
	#program_meta {
		grid-area: titlebar;
	}
	#registers-container {
		display: flex;
		flex-direction: row;
		gap: 1.5ch;
		grid-area: registers;
		align-items: center;
	}

	#preset_programs {
		grid-area: presets;
	}
	#cycles {
		grid-area: cycles;
		text-align: right;
		align-self: center;
		user-select: none;
	}
	#title {
		grid-area: title;
		writing-mode: vertical-lr;
		text-align: left;
		user-select: none;
		transform: scale(-1, -1);
		font-size: 1.3rem;
	}
	#memory {
		grid-area: memory;
	}
	#controls_bar {
		grid-area: buttons;
	}
}

#reg_label,
#mem_label {
	user-select: none;
	display: flex;
	gap: 0.8ch;
	align-items: center;
	font-size: 0.8rem;
}

#mem_label {
	justify-content: right;
}

.arrow-left {
	border-top: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-right: 1ch solid var(--border);
	filter: brightness(50%);
}
.arrow-down {
	border-right: 0.5em solid transparent;
	border-left: 0.5em solid transparent;
	border-top: 1ch solid var(--border);
	filter: brightness(50%);
}

.invalid {
	--color: var(--mem-invalid);
}
.constant {
	--color: var(--mem-constant);
}
.register {
	--color: var(--mem-register);
}
.regaddr {
	--color: var(--mem-memory);
}
.memory {
	--color: var(--mem-memory);
}
.instruction {
	--color: var(--mem-instruction);
}
.nibregpair {
	--color: var(--mem-reg-nib-pair);
}

#memory_color_explainer {
	li {
		display: flex;
		gap: 1ch;
	}

	.color {
		background-color: var(--color);
		max-width: 1lh;
		width: 1lh;
		height: 100%;
		aspect-ratio: 1;
	}
}
