@use "fonts";
@use "memory_registers";
@use "article";
@use "windows";
@use "top_meta";
@use "buttons";
@use "table";
@use "vars" as *;

#isa_container summary {
	font-size: 1.5rem;
}

* {
	box-sizing: border-box;
}

pre {
	font-size: 0.5em;
}

img {
	image-rendering: pixelated;
}

body {
	color: #808080;
	background-color: black;
	font-size: 1.6em;
	font-family: $monospace;
}

main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#grid {
	justify-content: center;
	display: grid;
	grid-template-columns: min-content min-content min-content min-content;
	grid-template-rows: min-content min-content min-content min-content;
	grid-template-areas:
		".        .  	    .       .       .		 "
		".        registers reglabel		.       titlebar "
		"memlabel memory	memory	memory  tv		 "
		"title    memory	memory	memory  tv		 "
		".        buttons   buttons buttons explainer";

	#instruction_explainer {
		grid-area: explainer;
	}
	#tv {
		grid-area: tv;
	}
	#program_meta {
		grid-area: titlebar;
	}
	#registers {
		grid-area: registers;
	}
	#memory_bank_view {
		grid-area: bank;
	}
	#reg_label {
		grid-area: reglabel;
	}
	#mem_label {
		grid-area: memlabel;
	}
	#cycles {
		grid-area: cycles;
		text-align: right;
		align-self: center;
		font-size: 0.48em;
		user-select: none;
	}
	#title {
		grid-area: title;
		writing-mode: vertical-lr;
		text-align: left;
		user-select: none;
		transform: scale(-1, -1);
	}
	#memory {
		grid-area: memory;
	}
}

#reg_label,
#mem_label {
	font-size: 0.75em;
	user-select: none;
}

#mem_label {
	writing-mode: vertical-lr;
	text-align: right;
	transform: scale(-1, -1);
}

.invalid {
	--color: var(--mem-invalid);
}
.constant {
	--color: var(--mem-constant);
}
.register {
	--color: var(--mem-register);
}
.memory {
	--color: var(--mem-memory);
}
.instruction {
	--color: var(--mem-instruction);
}
.nibregpair {
	--color: var(--mem-reg-nib-pair);
}

#controls_bar {
	grid-area: buttons;
	border-right: $thick-border-width solid yellow;
	display: flex;
	gap: 0.5ch;
	height: min-content;
	#controls_buttons {
		display: flex;

		gap: inherit;
		justify-content: inherit;
	}
}
