table {
	border-collapse: collapse;
	letter-spacing: 1px;
	color: #fff;
	width: 100%;
}

td,
th {
	border: 1px solid rgb(190, 190, 190);
	padding: 10px 20px;
}

th {
	background-color: rgb(235, 235, 235);
}

.category {
	border-left: 2px solid yellow;
}

tr:nth-child(even) td {
	background-color: rgb(22, 22, 22);
}

tr:nth-child(odd) td {
	background-color: black;
}

caption {
	padding: 10px;
}
