input[type="text"] {
	background-color: transparent;
	outline: none;
	border: none;
	color: white;
	font-family: monospace;
}

div#program_meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1ch;

	#title_box {
		flex: 1;
		input {
			width: 100%;
		}
	}

	#btn_div {
		display: flex;
		gap: 1ch;
		justify-content: right;
		#save_load_buttons {
			display: flex;
			gap: inherit;
		}
	}

	button,
	label.button {
		padding: unset;
		border: unset;
		img {
			display: block;
		}
	}

	input[type="text"] {
		text-decoration: underline;
		margin-block: auto;
		padding: 1ch;
		&:hover {
			background-color: darkslategray;
		}
		&:focus {
			background-color: darkslategray;
		}
	}
}
