:root {
	--mem-instruction: #3af78f;
	--mem-memory: #ff26a8;
	// todo different color
	--mem-reg-addr: pink;
	--mem-register: #9e0ef7;
	--mem-constant: #19f7f0;
	--mem-invalid: #bf2e2e;
	--mem-reg-nib-pair: orange;

	--state-ready: #b3ff00;
	--state-errored: #ff0000;
	--state-running: #ffff00;
	--state-edit: orange;
	--state-halted: rgb(175, 56, 76);
}

$monospace: "Noto Sans Mono", monospace;
$sans: "Noto Sans", sans-serif;

$thick-border-width: 4px;
$thin-border-width: 2px;
