.window {
	overflow-y: hidden;
	position: relative;
	border: 5px Solid var(--border);
	border-bottom: unset;

	.window_title {
		display: flex;
		position: sticky;
		align-items: center;
		user-select: none;
		font-size: 0.6em;
		color: lightgray;
		border-bottom: 5px solid var(--border);
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQI12P4/5/h////DP8ZoICJAQ0wIstiVQEA3CAI/c69TucAAAAASUVORK5CYII=");
		image-rendering: pixelated;

		#text {
			word-break: keep-all;
			white-space: nowrap;
			text-align: center;
			padding-inline: 10px;
			background-color: black;
		}
	}
}

.window#tv {
	height: unset;
	border-left: 0;
	border-bottom: 0;
	#screen {
		max-width: 100%;
		aspect-ratio: 1;
	}
}

#instruction_explainer {
	border-left: 0;

	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 300px;
	#expl_box {
		padding-inline: 20px;
		padding-block-start: 10px;
	}

	#expl_text {
		font-size: 0.6em;
		text-align: center;
		vertical-align: center;
	}

	#expl_icon {
		user-select: none;
		margin-inline-end: 0.5em;
		font-size: 30px;
		padding: 5px;
		color: var(--color);
		outline: 3px dashed var(--color);
	}
}
