.window {
	border: 5px solid var(--border);

	.window_title {
		display: flex;
		align-items: center;
		user-select: none;
		color: lightgray;
		border-bottom: 5px solid var(--border);
		background-image: linear-gradient(0deg, var(--border), var(--border)),
			url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQI12P4////////GRgYGBgYmBiQACNcGF0GAGpaCP0BZiNyAAAAAElFTkSuQmCC");
		background-blend-mode: multiply;
		image-rendering: pixelated;

		#text {
			word-break: keep-all;
			white-space: nowrap;
			text-align: center;
			padding-inline: 1ch;
			background-color: black;
		}
	}
}

.window#tv {
	display: flex;
	flex-direction: column;
	#canvas_container {
		min-width: 100%;
		flex-grow: 1;
	}
	#screen {
		min-height: 100%;
	}
	canvas {
		image-rendering: pixelated;
	}
}

#instruction_explainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 300px;
	#expl_box {
		padding-inline: 2ch;
		padding-block-start: 1ch;
	}

	#expl_text {
		text-align: center;
		vertical-align: center;
	}

	#expl_icon {
		user-select: none;
		margin-inline-end: 0.5em;
		padding: 5px;
		color: var(--color);
		outline: 3px dashed var(--color);
	}
}
