@use "vars" as *;
.window {
	border: 4px solid var(--border);

	.window_title {
		display: flex;
		align-items: center;
		user-select: none;
		color: lightgray;
		border-bottom: 4px solid var(--border);
		background-image: linear-gradient(0deg, var(--border), var(--border)),
			url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQI12P4////////GRgYGBgYmBiQACNcGF0GAGpaCP0BZiNyAAAAAElFTkSuQmCC");
		background-blend-mode: multiply;
		image-rendering: pixelated;

		#text {
			word-break: keep-all;
			white-space: nowrap;
			text-align: center;
			padding-inline: 1ch;
			background-color: black;
		}
	}
}

.window#tv {
	display: flex;
	flex-direction: column;
	#canvas_container {
		min-width: 100%;
		flex-grow: 1;
	}
	#screen {
		min-height: 100%;
	}
	canvas {
		image-rendering: pixelated;
	}
}

#instruction_explainer {
	display: flex;
	flex-direction: column;
	height: 300px;

	.expl_container {
		gap: 0.6ch;
		display: flex;
		flex-direction: column;
		margin: 5px;
	}

	.multi {
		flex-direction: column;
	}

	.expl_box,
	.expl_box > div.top,
	.expl_box > div.bottom {
		display: flex;
		user-select: none;
		column-gap: 1ch;
	}

	.expl_left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: var(--color);
		text-align: center;
		aspect-ratio: 1;
		width: 3ch;
		height: 3ch;
		border: $thin-border-width solid var(--color);
	}
	.expl_box.instruction > .expl_right {
		color: white;
	}
	color: #eee;

	.expl_box > div.top .expl_left {
		border-bottom: transparent;
		flex-direction: row;
		justify-content: left;
		padding: 0.5ch;
	}
	.expl_box > div.bottom .expl_left {
		border-top: transparent;
		flex-direction: row;
		justify-content: right;
		padding: 0.5ch;
	}

	.expl_right {
		border-bottom: $thin-border-width solid rgb(17, 17, 17);
		display: flex;
		align-items: end;
		div {
			margin-bottom: 3px;
		}
	}

	.expl_text {
		text-align: center;
		vertical-align: center;
	}
}
