#resize {
	// background-color: red;
	width: 100%;
	height: 18px;
	position: absolute;
	bottom: 0;
	border-bottom: 5px solid yellow;

	cursor: s-resize;
}

#window_box {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 10px;
	width: 500px;
	.window {
		overflow-y: hidden;
		position: relative;
		border: 5px Solid var(--border);
		border-bottom: unset;

		.window_title {
			display: flex;
			position: sticky;
			align-items: center;
			user-select: none;
			justify-content: space-between;
			font-size: 0.6em;
			color: lightgray;
			border-bottom: 5px solid var(--border);
			background: repeating-linear-gradient(
					to top,
					transparent,
					transparent 2px,
					transparent 2px,
					yellow 2px,
					yellow 4px
				),
				repeating-linear-gradient(to right, transparent, transparent 2px, transparent 2px, yellow 2px, yellow 4px);

			#text {
				word-break: keep-all;
				white-space: nowrap;
				text-align: center;
				padding-inline: 10px;
				background-color: black;
			}
			#collapse_button {
				height: 23px;
				aspect-ratio: 1;
				border: 2px solid yellow;
				background-color: black;
				margin-right: 3px;
			}
		}
	}
	.window.collapsed > :not(:first-child) {
		display: none;
	}
}

.window#tv {
	height: unset;
	#screen {
		max-width: 100%;
		aspect-ratio: 1;
	}
}

#instruction_explainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 300px;
	#expl_box {
		padding-inline: 20px;
		padding-block-start: 10px;
	}

	#expl_text {
		font-size: 0.6em;
		text-align: center;
		vertical-align: center;
	}

	#expl_icon {
		margin-inline-end: 0.5em;
		font-size: 30px;
		padding: 5px;
		color: var(--color);
		outline: 3px dashed var(--color);
	}
}

#printout {
	height: 500px;
	word-wrap: break-word;
	word-break: break-all;
	overflow-x: hidden;
	#printout_text {
		padding-inline: 10px;
	}
}
